<div style="padding: 20px;">
	<h2 style="color: blue">SpringBoot AngularJS 4 Application</h2>
	<nav>		
		<a routerLink="add"	class="btn btn-primary active" role="button" routerLinkActive="active">Add Customer</a>
		<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">View Customers</a>
		<a routerLink="findbylastname"	class="btn btn-primary active" role="button" routerLinkActive="active">Search Customer</a>
		<a routerLink="social"	class="btn btn-primary active" role="button" routerLinkActive="active">Social Login</a>		
	</nav>
	<router-outlet></router-outlet>
</div>